/* Farb Coding findet hier statt  */

:root {
    --main-btn-color: #157347;
    --main-background-color: #1E2530;
    --main-navbar-color: #494949;
    --table-primary-color:#2C3645;
    --table-secondary-color:#455265;
    --table-hover-color:#1afa8a98;
    --table-header-color:#1E2530;
    --table-border-color:#f1f1f1;
    --bottom-tab-bar-color: #212529;
    --bottom-tab-bar-icons: #ffffff;
    --table-text-color:#ffffff;
    --bs-body-bg:var(--main-background-color);
    --bs-body-color:var(--table-text-color);
}
  
.home-div{
  color: var(--table-text-color);
  --bs-body-color: var(--table-text-color);
}
.btn-standard {
    background-color: var(--main-btn-color);
    color: #fff;
  }

.home-div{
    background-color: var(--main-background-color);
}

.table-primary{
  --bs-table-bg: var(--table-primary-color); 
  --bs-table-striped-bg: var(--table-secondary-color);
  --bs-table-hover-bg: var(--table-hover-color);
  border-color: var(--table-border-color);
  --bs-table-color:var(--table-text-color);
  --bs-table-striped-color:var(--table-text-color);
}

.table-header{
  --bs-table-bg: var(--table-header-color); 
}

/* Element {
}
*, ::before, ::after {
  box-sizing: border-box;
} */

.nav-tabs {
  --bs-nav-tabs-link-active-bg: var(--main-background-color);
  --bs-nav-tabs-border-color: var(--table-border-color);
  --bs-nav-link-color: var(--table-text-color);
  --bs-nav-link-disabled-color: var(--table-text-color);
  --bs-nav-tabs-link-active-color: var(--table-text-color);
}

.offcanvas{
  background-color: var(--main-background-color);
  color: var(--table-text-color);
}

/* ************************************************************ */
/* Account.css* von hier */
/* ************************************************************ */

.form-group-spaced {
  margin-bottom: 1rem;
}
.card {
  border: 0.6px solid white;
}

/* ************************************************************ */
/* Work.css* von hier */
/* ************************************************************ */

h3.heading {
margin: 20px;
}

.gray-background {
background-color: var(--main-background-color); /* Hier wird die Hitergrundfarbe für die Workpage gesetzt*/
}

.deleteZelle{
margin-left: 20px;
}

.table-responsive {
overflow-x: auto;
}


.home-container {
background-color: aquamarine;
position: relative;
min-height: 100vh;
}


/* ************************************************************ */
/* Home.css* von hier */
/* ************************************************************ */
.import {
margin-bottom: 20px;
margin-left: 1.5rem;
margin-right: 1.5rem;
}

.export {
margin-top: 20px;
margin-left: 1.5rem;
margin-right: 1.5rem;
}

.deleteZelle{
margin-left: 20px;
}

.search-bar-container {
text-align: center;
position: fixed;
bottom: 70px;
left: 0;
right: 0;
background-color: var(--bottom-tab-bar-color); /* Hintergrundfarbe für den Container */
z-index: 100;
padding: 10px 0;
color: #fff;
}

.search-bar-home {
margin: 0 auto; /* Zum Zentrieren der Searchbar im Container */
width: 50%;
display: flex; /* Um das Icon und das Input-Feld horizontal anzuordnen */
align-items: center; /* Um sie vertikal zu zentrieren */
padding: 5px; /* Kleiner Abstand zwischen Icon und Input-Feld */
}

.search-input {
flex: 1; /* Das Input-Feld dehnt sich, um den verfügbaren Platz zu nutzen */
width: 100%;
color: #000;
font-size: 16px;
border: none;
background-color: transparent; /* Transparenter Hintergrund für das Input-Feld */
}

.form-control::placeholder {
color: var(--table-text-color) !important;
}

.table-responsive {
overflow-x: auto;
/* margin-top: 5rem; */
}

.home-container {
position: relative;
min-height: 100vh;
}

.bottom-tab-bar {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
color: green ; /* Hier kannst du die gewünschte Farbe für den aktiven Tab definieren */
height: 80px !important; 
box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for a better visual effect */
}

.nav-right .nav-link {
text-align: right;
font-size: 1.0rem; /* Increase the font size */
margin-bottom: 5px; /* Add margin to the bottom */
border-bottom: 1px solid #fff; /* Add a line to the bottom */
}

.offcanvas-body {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%; /* Add this line */
}

/* Der Flexcontainer ist da um den Tabellenpart mit import und Export nach oben zu orientieren */
.flex-container {
display: flex;
flex-direction: column;
justify-content: space-between;
}

/* Der Text über dem Import und Export im Offcanvas */
.custom-text {
margin-top: 1.5rem;
font-size: 1.2em; /* Increase the font size */
text-align: center; /* Align the text to the right */
}


/* ************************************************************ */
/* Files.css* von hier */
/* ************************************************************ */

.deleteZelle{
  margin-left: 20px;
}

.table-responsive {
  overflow-x: auto;
}

.remove-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-toggle {
  width: 100%;
  
}

.custom-button {
background-color: transparent;
border: none;
margin-left: 10px;
}
.custom-button:hover { 
background-color: transparent;
border: none; 
}
.home-container {
  position: relative;
  min-height: 100vh;
}

.bottom-tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: green; /* Hier kannst du die gewünschte Farbe für den aktiven Tab definieren */
  height: 80px !important; 
  background-color: #fff; /* Replace with your desired background color */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for a better visual effect */
}

/* styles.css */